apiVersion: v1
kind: Pod
metadata:
  name: cleanup-master-ip
  namespace: ucsdfutures
spec:
  restartPolicy: Never
  containers:
  - name: cleanup
    image: alpine
    command: ["sh", "-c", "rm -f /checkpoints/master.ip && echo Cleaned"]
    volumeMounts:
    - name: checkpoints
      mountPath: /checkpoints
  volumes:
  - name: checkpoints
    persistentVolumeClaim:
      claimName: pure-transformer-checkpoints
